<%= tag.div class: wrapper_row_classes do %>
  <%= tag.div class: wrapper_columns_classes do %>

  <h2 class='display-4'>Resend unlock instructions</h2>

  <%= form_for resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post } do |form| %>
    <%= render 'forms/errors', resource: resource %>

    <%= render 'forms/labeled_email_field', form: form, name: :email %>

    <%= render 'forms/submit_button', form: form, label: 'Resend unlock instructions' %>
  <% end %>

  <%= render 'devise/shared/links' %>

  <% end %>
<% end %>
