<div class='container mt-5'>
  <div class='row'>

    <div class='col-4 col-lg-3'>
      <%= avatar_image_tag user: @user, width: 300, tilt: true %>

      <%= link_to 'Edit profile', :settings, class: 'btn btn-outline-primary mt-4' %>
    </div>

    <div class='col-8 col-lg-9'>
      <% if @user.name.present? %>
        <h2 class='fw-light mb-0'><%= @user.name %></h2>
      <% end %>

      <h1 class='fw-bold h2'><%= @user.handle %></h1>

      <% if @user.pronouns.present? %>
        <p class='m-0 text-secondary'><%= @user.pronouns %></p>
      <% end %>

      <% if @user.location.present? %>
        <p class='m-0'><%= @user.location %></p>
      <% end %>

      <% if @user.bio.present? %>
        <div class='my-3 d-none d-lg-block'>
          <%= render_markdown @user.bio, inline_tags_only: true, user: @user %>
        </div>
      <% end %>
    </div>

  </div>
</div>
