<%= form_with model: mixtape do |form| %>
  <%= render 'forms/errors', resource: mixtape %>

  <div class='mb-3'>
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control form-control-lg" %>
  </div>

  <div class='mb-3'>
    <%= form.label :subtitle, class: "form-label" %>
    <%= form.text_field :subtitle, class: "form-control form-control-lg" %>
  </div>

  <div class='mb-3'>
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control form-control-lg", rows: 4 %>
  </div>

  <div class="mb-3 d-flex align-items-center">
    <%= form.submit class: 'btn btn-primary me-2' %>
    <%= link_to "Cancel", @mixtape %>
  </div>
<% end %>
