<%= form_with model: mixtape do |form| %>
  <%= render 'forms/errors', resource: mixtape %>

  <%= render 'forms/labeled_text_field',
              form:      form,
              name:      :title,
              note:      'Required',
              autofocus: action_name == 'new' %>

  <%= render 'forms/labeled_text_field', form: form, name: :subtitle %>

  <%= render 'forms/labeled_text_area',
             form: form,
             name: :description,
             note: 'Rendered as Markdown' %>

  <div class='mb-3 d-flex align-items-center'>
    <%= form.submit class: 'btn btn-primary me-2' %>
    <%= link_to 'Cancel', @mixtape %>
  </div>
<% end %>
