<%= form_with model: mixtape do |form| %>
  <%= render 'forms/errors', resource: mixtape %>

  <div class='mb-3'>
    <% if mixtape.cover.attached? %>
      <div class='mb-4'>
        <%= cover_image_tag mixtape: mixtape, width: 600 %>
        <%=  link_to 'Delete',
                     [mixtape, :cover],
                     class: 'btn btn-outline-danger btn-sm mt-2',
                     data:  {
                       turbo_method:  :delete,
                       turbo_confirm: 'Are you sure you’re sure? There is NO UNDO.'
                     } %>
      </div>
    <% end %>

    <%= form.label :cover, class: 'form-label' %>
    <%= form.file_field :cover, accept: '.jpg, .jpeg, .png, .gif', class: 'form-control form-control-lg' %>
  </div>



  <%= render 'forms/labeled_text_field', form: form, name: :title, placeholder: 'Title *required' %>
  <%= render 'forms/labeled_text_field', form: form, name: :subtitle %>
  <%= render 'forms/labeled_text_area',  form: form, name: :description, note: 'Rendered as Markdown' %>

  <%= render 'forms/submit_button', form: form %>
<% end %>
