<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Mixtape Club</title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= render 'layouts/nav' %>
  <%= render 'layouts/alerts' %>

  <main class='my-5'>
    <%= yield %>
  </main>

  <footer class='py-5 px-3 text-secondary text-center'>
    <ul class='list-inline'>
      <li class='list-inline-item'><%= link_to 'Terms',   ':terms',   class: 'text-secondary' %></li>
      <li class='list-inline-item'><%= link_to 'Privacy', ':privacy', class: 'text-secondary' %></li>

      <% if Current.user %>
        <li class='list-inline-item'><%= link_to 'Sign out', :destroy_user_session, class: 'text-secondary' %></li>
      <% end %>
    </ul>

    <p>Made with <%= random_heart %> in Southern California</p>
  </footer>
</body>
</html>
